OCP_API=https://api.cluster-xxxx.dyn.redhatworkshops.io:6443
OCP_USER=admin
OCP_PASSWORD=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.6-flash
SAW_NAMESPACE=openshell-agents
SAW_SANDBOX_NAME=openclaw-test
SAW_VM_NAME=mschimun-test
SAW_OWNER=alice
